
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_AboutLayoutProject.cshtml";
}
@section mainSection{
    @*<form>
        <table>
            <tr>
                <td>@Html.Label("Order ID")</td>
            </tr>
        </table>
    </form>*@



    <h1>Contact1 mansoor 1</h1>
}



